/* @settings
name: Garden
id: garden-style
settings:
	-
		id: interface-a
		title: Interface A Settings
		type: heading
		level: 2
		collapsed: true
	-
		id: interface-b
		title: Interface B Settings
		type: heading
		level: 2
		collapsed: true
	-
		id: interface-c
		title: Interface C Settings
		type: heading
		level: 2
		collapsed: true
*/

/* @settings
name: Garden Advanced Settings
id: garden-advanced
settings:
	-
		id: interface-d
		title: Interface D Settings
		type: heading
		level: 2
		collapsed: true
*/

/* @settings
name: Garden Community Plugins Settings
id: garden-community-plugins
settings:
	-
		id: interface-e
		title: Interface E Settings
		type: heading
		level: 2
		collapsed: true
	-
		id: interface-f
		title: Interface F Settings
		type: heading
		level: 2
		collapsed: true
*/

